body{
	margin-left:7%;
	margin-right:7%;
	background-image : url(./image/fond.jpg) ;
	background-attachment:fixed ;
	background-repeat:no-repeat;
	background-position:center center;
	background-size: cover;
	
}
@font-face {
    font-family: 'MaSuperPolice';
    src: url('./image/police.ttf');
}

h1{
	margin-left: 50px;
	margin-right: 50px;
	display : inline-block;
    font-family: MaSuperPolice;
	font-size: 140px;

}
h2{
	font-weight: bold;
	
}
th{
	color : #003366;
}
body{
	font-size: 25px;
}
li{
	font-size: 30px;
}
#logo{
	
	display : inline-block;
}
#rugby{
	animation: pulse 1s infinite alternate;
	display : inline-block;
}
.table{
	
	}
td{
	font-weight: bold;}
th{
		font-size : 25px;
	}
.connexion{
	margin-left : 50px;
}
