


body{
	margin-left:7%;
	margin-right:7%;
	background-color : #000033;
	
}
aside{
	display : inline-block;
	background-color : black;
	width : 20%;
	height :1000px;
	vertical-align : top;
}



section{
	display : inline-block;
	width:79%;
	height : 100%;
	background-color : red;
	vertical-align : top;
}
#description{
	display : inline-block;	
	background-color : yellow;
	margin : 5px;
	
}